<div class="element" [ngClass]="'g'+element.group + ' ' + 'p'+element.period"  [ngStyle]="{ 'background-color': element.backgroundColor}">
    <div class="d-block">
        <span class="atomicNumber">{{ element.atomicNumber }}</span>
        <span class="electronsPerShell">{{ element.electronsPerShell }}</span>
    </div>
    <div class="d-block">
        <span class="atomicSymbol" [ngStyle]="{ 'color': element.symbolColor }" >{{ element.symbol }}</span>
    </div>
    <div class="d-block">
        <span class="atomicName">{{ element.name }}</span>
    </div>
    <div class="d-block">
        <span class="atomicWeight">{{ element.atomicWeight }}</span>
    </div>
</div>