<p>element works!</p>

<div class="element bg-danger">
    <div class="d-block">
        <span class="atomicNumber">{{ element.atomicNumber }}</span>
        <span class="electronsPerShell">{{ element.electronsPerShell }}</span>
    </div>
    <div class="d-block">
        <span class="atomicSymbol">{{ element.symbol }}</span>
    </div>
    <div class="d-block">
        <span class="atomicName">{{ element.name }}</span>
    </div>
    <div class="d-block">
        <span class="atomicWeight">{{ element.atomicWeight }}</span>
    </div>
</div>