.element {
    position: absolute;
    width: 60px;
    height: 60px;
}

.element:hover {
    cursor: pointer;
}

.atomicNumber {
    font-size: 12px;
    position: absolute;
    left: 5px;
}

.electronsPerShell {
    font-size: 12px;
    position: absolute;
    right: 5px;
}

.atomicSymbol {
    font-size: 16px;
    position: absolute;
    width: 100%;
    text-align: center;
    /* left: calc(50%);
    right: calc(50%); */
    top: calc(50% - 16px);
}

.atomicName {
    font-size: 8px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(50% + 4px);
}

.atomicWeight {
    font-size: 8px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(50% + 15px);
}


.g {
    position: absolute;
}

.ml25 {
    margin-left: 25px;
}

.g1 {
    left: 0%;
}

.g2 {
    left: 5.55%;
}

.g3 { 
    left: 11.1%;
}

.g4 {
    left: 16.65%;
}

.g5 {
    left: 22.2%;
}

.g6 {
    left: 27.75%;
}

.g7 {
    left: 33.3%;
}

.g8 {
    left: 38.85%;
}

.g9 {
    left: 44.4%;
}

.g10 {
    left: 49.95%;
}

.g11 {
    left: 55.5%;
}

.g12 {
    left: 61.05%;
}

.g13 {
    left: 66.6%;
}

.g14 {
    left: 72.15%;
}

.g15 {
    left: 77.7%;
}

.g16 {
    left: 83.25%
}

.g17 {
    left: 88.8%;
}

.g18 {
    left: 94.35%;
}


.p1 {
    top: 0px;
}

.p2 {
    top: 60px;
}

.p3 {
    top: 120px;
}

.p4 {
    top: 180px;
}

.p5 {
    top: 240px;
}

.p6 {
    top: 300px;
}

.p7 {
    top: 360px;
}

.p8 {
    margin-top: 40px !important; 
    top: 420px;
}

.p9 {
    margin-top: 40px !important;
    top: 480px;
}
